<section>
	<h3>{{ translate 'partials.sidebar.selectedPosts' }}</h3>
	<ul>
		{{#getPostsByTags (concatenate "count=" @config.custom.amountSelectedtPosts "&tag_as=id&tags="
			@config.custom.selectedPosts
			"&excluded=0&offset=0&orderby=modifiedAt&ordering=asc")}}
			<li>
				<a href="{{url}}">{{title}}</a>
			</li>
		{{/getPostsByTags}}
	</ul>
</section>

{{#if featuredPosts}}
	<section>
		<h3>{{ translate 'partials.sidebar.featuredPosts' }}</h3>

		<ol class="featured-posts__list">
			{{#each featuredPosts}}
				<li>
					<a href="{{url}}" class="invert">{{title}}</a>
				</li>
			{{/each}}
		</ol>
	</section>
{{/if}}

{{#if @config.custom.authors}}
	<section>
		<h3>{{ translate 'partials.sidebar.authors' }}</h3>
		<ul>
			{{#each authors}}
				{{#checkIf @index '<' @config.custom.authorsNumber}}
					<li>
						<a href="{{url}}">
							<img src="{{avatarImage.url}}" {{lazyload "lazy" }} alt="{{avatarImage.alt}}"
								height="{{avatarImage.height}}" width="{{avatarImage.width}}">
						</a>
						<a href="{{url}}">{{name}} <sup>{{postsNumber}}</sup></a>
					</li>
				{{/checkIf}}
			{{/each}}
		</ul>
	</section>
{{/if}}
