{{> head}}
{{> navbar}}
<main>
    {{#each posts}}
        <article>

            {{#featuredImage}}
                {{#if url}}
                    <figure>
                        <img src="{{url}}"
                            {{#if @config.site.responsiveImages}}
                                {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                            {{/if}}
                            {{lazyload "lazy"}}
                            height="{{height}}"
                            width="{{width}}"
                            alt="{{alt}}">

                            {{#checkIfAny caption credits}}
                                <figcaption>
                                    {{caption}}
                                    {{credits}}
                                </figcaption>                      
                            {{/checkIfAny}}
                    </figure>
                {{/if}}
            {{/featuredImage}}
            
            <h2>
                <a href="{{url}}">{{title}}</a>
            </h2>
            
            <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                {{date createdAt}}
            </time>
            
            {{#author}}
                <img 
                    src="{{avatarImage.url}}" 
                    {{lazyload "lazy"}} 
                    alt="{{avatarImage.alt}}" 
                    height="{{avatarImage.height}}"  
                    width="{{avatarImage.width}}">
                <a href="{{url}}">{{name}}</a>
            {{/author}}
            
            {{#if mainTag}}
                <a href="{{mainTag.url}}">{{mainTag.name}}</a>
            {{/if}}
            
            {{#if hasCustomExcerpt}}
                {{{ excerpt }}}
            {{else}}
                <p>{{{ excerpt }}}</p>
            {{/if}}
            
        </article>
    {{/each}}    
</main>

<aside>
    {{> sidebar}}
</aside>

{{> pagination}}
{{> footer}}