{{> head}}
{{> navbar}}

<main>
	{{#if @customHTML.beforePage}}
		<div id="custom-html-before-page">
			{{{@customHTML.beforePage}}}
		</div>
	{{/if}}

	{{#page}}
		<article>
			<header>

				<h1>
					{{title}}
				</h1>

				<time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
					{{date createdAt}}
				</time>

				{{ translate 'page.publishedBy' }}
				{{#author}}
					<a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
				{{/author}}
		
				{{#if modifiedAt}}
				{{ translate 'page.lastUpdatedDate' }}
				<time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
					{{date modifiedAt}}
				</time>
				{{/if}}
			</header>

			{{#featuredImage}}
				{{#if url}}
					<figure id="featured-image">
						<img src="{{url}}"
							{{#if @config.site.responsiveImages}}
								{{responsiveImageAttributes 'featuredImage' srcset sizes}}
							{{/if}}
							{{ lazyload "eager" }}
							height="{{height}}"
							width="{{width}}"
							alt="{{alt}}">
								{{#checkIfAny caption credits}}
									<figcaption>
										{{caption}}
										{{credits}}
									</figcaption>
								{{/checkIfAny}}
					</figure>
				{{/if}}
			{{/featuredImage}}
			
			<div id="page-entry">
				{{{text}}}
			</div>
			
			{{#if @config.page.displayAuthorBio}}
				{{#author}}
					<div id="author-bio">
						{{#if avatar}}
							<img src="{{avatarImage.url}}" 
								{{ lazyload "lazy" }} 
								alt="{{avatarImage.alt}}"
								height="{{avatarImage.height}}" 
								width="{{avatarImage.width}}">
						{{/if}}
				
						<h3>
							<a href="{{url}}" title="{{name}}">{{name}}</a>
						</h3>
						
						{{#if description}}
							<div> {{{description}}} </div>
						{{/if}}
					</div>
				{{/author}}
			{{/if}}
		</article>

		{{#if @config.page.displayChildPages}}
			{{#if subpages}}
				<div class="subpages">
					<h2>{{ translate 'page.childPages' }}</h2>
					<ul>
						{{> subpages-list}}
					</ul>
				</div>
			{{/if}}
		{{/if}}
	{{/page}}

	{{{@commentsCustomCode}}}
	{{#if @customHTML.afterPage}}
		<div id="custom-html-after-page">
			{{{@customHTML.afterPage}}}
		</div>
	{{/if}}
</main>

<aside>
	{{> sidebar}}
</aside>

{{> footer}}