{{> head}}
{{> navbar}}

<main>
	{{#if @customHTML.beforePost}}
		<div id="custom-html-before-post">
			{{{@customHTML.beforePost}}}
		</div>
	{{/if}}
	{{#post}}
		<article>
			<header>
				<h1>{{title}}</h1>
				<time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">{{date createdAt}}</time>
				
				{{ translate 'post.publishedBy' }}
				{{#author}}
					<a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
				{{/author}}
				
				{{#if mainTag}}
					<a href="{{ mainTag.url }}" class="post__maintag">
						{{mainTag.name }}
					</a>
				{{/if}}
				{{#if modifiedAt}}
					{{ translate 'post.lastUpdatedDate' }}
					<time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
						{{date modifiedAt}}
					</time>
				{{/if}}
			</header>

			{{#featuredImage}}
				{{#if url}}
					<figure id="featured-image">
						<img src="{{url}}" 
							{{#if @config.site.responsiveImages}} 
								{{responsiveImageAttributes 'featuredImage' srcset sizes}} 
							{{/if}} 
							{{ lazyload "eager" }} 
							height="{{height}}" 
							width="{{width}}" 
							alt="{{alt}}">
						{{#checkIfAny caption credits}}
							<figcaption>
								{{caption}}
								{{credits}}
							</figcaption>
						{{/checkIfAny}}
					</figure>
				{{/if}}
			{{/featuredImage}}

			<div id="post-entry">
				{{{text}}}
			</div>

			{{#if @config.post.displayAuthorBio}}
				{{#author}}
					<div id="author-bio">

						{{#if avatar}}
							<img src="{{avatarImage.url}}" 
								{{ lazyload "lazy" }} 
								alt="{{avatarImage.alt}}"
								height="{{avatarImage.height}}" 
								width="{{avatarImage.width}}">
						{{/if}}
						<h3>
							<a href="{{url}}" title="{{name}}">{{name}}</a>
						</h3>
						{{#if description}}
							<div> {{{description}}} </div>
						{{/if}}
					</div>
				{{/author}}
			{{/if}}
			{{#checkIfAny ../previousPost ../nextPost}}
				<nav id="post-navigation">
					{{#../previousPost}}
						<a href="{{url}}" rel="prev">
							&larr; {{ translate 'post.previousPost' }}
							({{title}})
						</a>
					{{/../previousPost}}

					{{#../nextPost}}
						<a href="{{url}}" rel="next">
							{{ translate 'post.nextPost' }}
							({{title}}) &rarr;
						</a>
					{{/../nextPost}}
				</nav>
			{{/checkIfAny}}
			
			{{#if ../relatedPosts}}
				<div id="related-posts">
					<h3>
						{{ translate 'post.relatedPosts' }}
					</h3>
					<div>
						{{#each ../relatedPosts}}
							<section>
								{{#featuredImage}}
									{{#if url}}
										<a href="{{../url}}">
											<img src="{{url}}" {{#if @config.site.responsiveImages}}
												{{responsiveImageAttributes 'featuredImage' srcset sizes}} {{/if}} {{ lazyload "lazy" }}
												height="{{height}}" width="{{width}}" alt="{{alt}}">
										</a>
									{{/if}}
								{{/featuredImage}}

								<h4>
									<a href="{{url}}">{{title}}</a>
								</h4>

								<p>{{{ excerpt }}}</p>

							</section>
						{{/each}}
					</div>
				</div>
			{{/if}}
		</article>
	{{/post}}
	
	{{{@commentsCustomCode}}}
	
	{{#if @customHTML.afterPost}}
		<div id="custom-html-after-post">
			{{{@customHTML.afterPost}}}
		</div>
	{{/if}}

</main>

<aside>
	{{> sidebar}}
</aside>

{{> footer}}