{{> head}}
{{> navbar}}

<main>
    <h1>
        {{ translate 'tags.tagsPageTitle' }}
        <sup>({{tagsNumber}})</sup>
    </h1>

    <p>
        {{ translate 'tags.description' }}
    </p>

    <ul>
        {{#each tags}}
            <li>
                {{#featuredImage}}
                    {{#if url}}
                        <img src="{{url}}" 
                            {{#if @config.site.responsiveImages}}
                                {{responsiveImageAttributes 'tagImage' srcset sizes}}
                            {{/if}}
                            {{lazyload "lazy"}}
                            height="{{height}}"
                            width="{{width}}"
                            alt="{{alt}}">
                    {{/if}}
                {{/featuredImage}}
                
                <h2><a href="{{url}}">{{name}}</a></h2>
                
                <span>{{postsNumber}} {{ translate "tags.post" (math postsNumber '+' 0)}} </span>
                
                {{#if description}}
                    <div> {{{description}}} </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</main>

<aside>
    {{> sidebar}}
</aside>

{{> footer}}